In [1]:
import pandas as pd

In [20]:
data = pd.read_excel('jester-data-2.xls', sep='\t', parse_dates=True, squeeze=True,index_col=0)

In [21]:
data.sort_index(inplace=True)
data=data.replace(99,0)

In [24]:
data

,Joke_1,Joke_2,Joke_3,Joke_4,Joke_5,Joke_6,Joke_7,Joke_8,Joke_9,Joke_10,...,Joke_91,Joke_92,Joke_93,Joke_94,Joke_95,Joke_96,Joke_97,Joke_98,Joke_99,Joke_100
User_id,,,,,,,,,,,,,,,,,,,,,
36,0.00,0.00,0.00,0.00,9.17,0.00,-9.90,2.48,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,0.00,0.00,0.00,0.00,3.25,0.00,-9.03,-9.66,0.00,0.00,...,-5.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,0.00,0.00,0.00,0.00,-4.47,0.00,-9.32,-6.99,0.00,0.00,...,0.00,0.00,0.00,-8.35,0.00,0.00,0.00,0.00,0.00,0.00
36,0.00,0.00,0.00,0.00,-9.81,0.00,0.92,3.20,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,-6.55,0.00,0.00,0.00
36,0.00,0.00,0.00,0.00,4.76,0.00,4.90,1.26,0.00,0.00,...,0.00,0.00,2.91,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,7.82,3.74,-0.92,2.72,5.15,1.07,4.61,5.39,7.82,4.71,...,1.17,-4.47,-4.47,5.00,3.64,3.64,3.50,0.92,-4.27,7.04
100,-3.20,1.36,-9.85,-5.97,-6.21,4.42,6.31,4.95,8.64,-0.29,...,-6.21,-4.51,7.52,4.61,2.33,8.30,-0.10,8.88,6.41,-3.79
100,7.04,4.76,-2.14,1.07,7.23,6.89,5.24,-6.31,1.07,4.13,...,7.82,8.35,8.06,8.50,8.59,7.18,2.14,1.12,1.84,8.50
100,-3.74,8.69,-3.20,-8.11,6.65,0.34,8.40,9.08,-3.74,1.26,...,9.27,6.80,7.57,3.64,7.62,-1.65,7.33,1.50,4.17,5.00
100,8.59,9.03,8.74,8.35,-0.10,8.06,5.10,1.17,8.16,6.75,...,5.97,7.77,5.15,4.95,7.82,4.13,-0.53,4.90,7.04,6.26